body{
    height: 98vh;
    font-family:'Open Sans', sans-serif;
    
    background-image: linear-gradient(135deg, #09bfe3 0%, #0c8187 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}
.campo {
    width: 633px;
    height: 400px;
   margin: -30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.giocatori {
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
}

.giocatore1, .giocatore2 {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:160px;
     border-radius: 17px;
     margin: 10px;
    
}
.nome{
    display: flex;
  
}

button {
    border: 0;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: #52a5e1;
    height: 40px;
    
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
  }
  input {
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid rgb(193, 193, 193);
    height: 40px;
    margin: 30px;
    text-align: center;
  }
  .counter {
  margin: 20px;

    font-size: 50px;
    position: inherit;
    height: 30px;
  }
  modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    width: 360px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px 16px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #fff;
}
modal div {
    margin-bottom: 24px;
}
modal button {
    height: 36px;
    padding: 0 16px;
    border-radius: 50px;
    border: 0;
    background-color:  #52a5e1;
    font-weight: 600;
    color: #fff;
}
body.vittoria::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px)
}

@media screen and (max-width: 665px) {
   

    *{
        box-sizing: border-box;
    }
    .campo{
        width: 378px;
        margin: 0;
    }
    input{
        width: 157px;
        margin: 30px 15px 10px 15px;
    }
    .giocatore1, .giocatore2{
        font-size: 80px;
    }
    .giocatori{
        width: 100%;
        height: 50%;
    }
    .counter{
        font-size: 25px;
    }
}